extends base

block append vars
  - bodyclass = 'project-detail'

block prepend title
  | #{ "imagineer" + " - "}

block sitenav 
  div.site-nav-icons.flushright
    a(href='/articles/')
      span.icon-book
    a(href='/projects/')
      span.icon-code
    a(href='/creations/')
      span.icon-feather
block sidebar
  div.text-center
    img.circle(src="https://imgee.s3.amazonaws.com/imgee/8dc6b1deecef41308dc50275f59fc182_w200_h200.png")
    div.item 
      a(href='/articles/') ARTICLES
    div.item 
      a(href='/projects/') PROJECTS
    div.item
      a(href='/creations/') CREATIONS
  

block header
  h1= imagineer
block content
  div.text-center
    h1 coding with colors



